<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Spring Framework Guru</title>
</head>
<body>
<h1>Authors list</h1>
<table>
  <tr>
    <td>ID</td>
    <td>First name</td>
    <td>Last name</td>
    <td>Number of books</td>
  </tr>
  <tr th:each="author : ${authors}">
    <td th:text="${author.id}"/>
    <td th:text="${author.firstName}"/>
    <td th:text="${author.lastName}"/>
    <td th:text="${author.books.size()}"/>
  </tr>
</table>
</body>
</html>